<a href="https://colab.research.google.com/github/EoghanPower/pr/blob/main/Create_a_Tweets_DataFramefinished.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:

#Creating a Data Frame of Tweets on S&P 500 Companies

In [32]:
# import libraries
import tweepy, json 
from textblob import TextBlob 
from wordcloud import wordcloud
import pandas as pd
import numpy as np 
import re
import matplotlib.pyplot as plt 
plt.style.use('ggplot')
import webbrowser
import time 
import requests
import requests_oauthlib
import os

In [33]:
#authentication store 0auth credentials in variables
consumer_key = 'eHrpqTZVq5bfGdjC8juN7fSCs'
consumer_secret = 'itfojeERaMFXtwQFI1emQNT3vwCHs414OJdOXlpN2RaBAw3MIz'
AccessToken = '264845011-WhC9gKJlC3TayNsXg4ViBIuwaK0D5Sof3lxPTZeN'
AccessTokenSecret = 'dE5difJJmYP5UYllqeQwTsovcoXyvco9Ww2QMxiR365D3'

In [34]:
#Pass 0auth details to tweepy's 0auth handlet 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(AccessToken, AccessTokenSecret)

In [35]:
##SetAPIobject
api = tweepy.API(auth, wait_on_rate_limit= True)

In [36]:
#StreamListener
class MyStreamListener(tweepy.StreamListener):
    def __init__(self, api=None):
        super(MyStreamListener, self).__init__()
        self.num_tweets = 0
        self.file = open("tweets.txt", "w")

    def on_status(self, status):
        tweet = status._json
        self.file.write( json.dumps(tweet) + '\n' )
        self.num_tweets += 1
        if self.num_tweets < 10001:
            return True
        else:
            return False
        self.file.close()

    def on_error(self, status):
        print(status)

In [37]:
#initialize stream listener
l = MyStreamListener()
#Create stream object with authentication
stream = tweepy.Stream(auth, l)
#Filter Twitter Streams to capture data by the keywords:
stream.filter(languages = ['en'],track=['Apple', 'Google', 'Microsoft','Amazon',  'Facebook', 'JPMorgan',   'Johnson & Johnson', '  Exxon', 'Bank of America', 'Wal-Mart, Wells Fargo', 'Berkshire Hathaway', 'AT&T ', 'Tesla', 'Gamestop' ])

In [38]:
#import package
import json

#String of path to file: tweets_data_path
tweets_data_path = 'tweets.txt'

#initialize empty list to store tweets: tweets_data
tweets_data = []

In [39]:
#open connection to file
tweets_file = open(tweets_data_path, 'r')

In [40]:
# Read in tweets and store in list: tweets_data
for line in tweets_file:
  tweet = json.loads(line)
  tweets_data.append(tweet)

In [41]:
#close connection to file
tweets_file.close()

In [42]:
print(tweets_data[0].keys())

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status', 'quoted_status_permalink', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [43]:
# Build DataFrame of tweet texts and languages
df = pd.DataFrame(tweets_data, columns= ['text'])

In [44]:
print(df.head(10))

                                                text
0  Self awareness? Alright, Captain Tom, you’ve g...
1  RT @beatsbylonza: El HJEFE Podcast Episode 2. ...
2  ICYMI. Looks like it was a nice day for our to...
3  Livestream links for tonight's girls and boys ...
4  RT @Rigid3d: Some more renders. \n\nhttps://t....
5  @AdAltum @thetimes Amazon is incorporated in m...
6  RT @NatapanuN: Thailand Pass will be closed fo...
7  @author_ankita @jgmacleodauthor https://t.co/F...
8  @TaylorOgan The bus driving ahead of Tesla in ...
9  RT @CBSNews: This Amazon delivery driver went ...

In [45]:
#clean the tweets
def cleanTwt(twt): 
  twt = re.sub('#apple','Apple', twt)
  twt = re.sub('#google','Google', twt) 
  twt = re.sub('#microsoft','Microsoft', twt) 
  twt = re.sub('#amazon','Amazon', twt) 
  twt = re.sub('#facebook','Facebook', twt) 
  twt = re.sub('#JPMorgan','JPMorgan', twt) 
  twt = re.sub('#Johnson&Johnson','Johnson & Johnson', twt) 
  twt = re.sub('#Exxon','Exxon', twt) 
  twt = re.sub('#BankofAmerica','Bank of America', twt) 
  twt = re.sub('#Wal-Mart','Wal-Mart', twt) 
  twt = re.sub('#Wells Fargo','Wells Fargo', twt) 
  twt = re.sub('#BerkshireHathaway','Berkshire Hathaway', twt) 
  twt = re.sub('#Gamestop','Gamestop', twt) 
  twt = re.sub('#Tesla ','Tesla', twt)#removes the # 
  twt =re.sub('#[A-Za-z0-9]+', '',twt) #removes any strings with a # 
  twt = re.sub('\\n', '', twt) #removes the '\n' string
  twt = re.sub('https?:\/\/\S+', '', twt) #removes any hyperlinks
  twt = re.sub('RT', '', twt) #cleans retweets
  twt = re.sub('@[A-Za-z0-9]+', ',', twt)#Removes tagged accounts
  return twt

In [46]:
#clean them using the above function

In [47]:
df['Cleaned_Tweets'] = df['text'].apply(cleanTwt)

In [48]:
#show the set 
df.head(10)

                                                text                                     Cleaned_Tweets
0  Self awareness? Alright, Captain Tom, you’ve g...  Self awareness? Alright, Captain Tom, you’ve g...
1  RT @beatsbylonza: El HJEFE Podcast Episode 2. ...   ,: El HJEFE Podcast Episode 2.   Spotify, App...
2  ICYMI. Looks like it was a nice day for our to...  ICYMI. Looks like it was a nice day for our to...
3  Livestream links for tonight's girls and boys ...  Livestream links for tonight's girls and boys ...
4  RT @Rigid3d: Some more renders. \n\nhttps://t....                            ,: Some more renders.
5  @AdAltum @thetimes Amazon is incorporated in m...  , , Amazon is incorporated in many countries, ...
6  RT @NatapanuN: Thailand Pass will be closed fo...   ,: Thailand Pass will be closed for all new T...
7  @author_ankita @jgmacleodauthor https://t.co/F...  ,_ankita ,  you so much. Currently working on ...
8  @TaylorOgan The bus driving ahead of Tesla in ...  , The bus driving ahead of Tesla in the right ...
9  RT @CBSNews: This Amazon delivery driver went ...   ,: This Amazon delivery driver went above and...

In [49]:
#create a function to get subjectivity
def getSubjectivity(twt):
  return TextBlob(twt).sentiment.subjectivity
#create a function to get polarity
def getPolarity(twt):
  return TextBlob(twt).sentiment.polarity

In [50]:
#create two new columns called subjectivity and polarity
df['Subjectivity'] = df['Cleaned_Tweets'].apply(getSubjectivity)
df['Polarity'] = df['Cleaned_Tweets'].apply(getPolarity)

In [51]:
#show data
df.head(20)

                                                 text  ...  Polarity
0   Self awareness? Alright, Captain Tom, you’ve g...  ...  0.000000
1   RT @beatsbylonza: El HJEFE Podcast Episode 2. ...  ...  0.000000
2   ICYMI. Looks like it was a nice day for our to...  ...  0.275000
3   Livestream links for tonight's girls and boys ...  ...  0.000000
4   RT @Rigid3d: Some more renders. \n\nhttps://t....  ...  0.500000
5   @AdAltum @thetimes Amazon is incorporated in m...  ...  0.500000
6   RT @NatapanuN: Thailand Pass will be closed fo...  ...  0.012121
7   @author_ankita @jgmacleodauthor https://t.co/F...  ...  0.000000
8   @TaylorOgan The bus driving ahead of Tesla in ...  ...  0.285714
9   RT @CBSNews: This Amazon delivery driver went ...  ...  0.000000
10  Latest @DeadCatShow we dive into media with my...  ...  0.250000
11  RT @btsbaragi_jk: Street Dance Girls Fighter’s...  ... -0.200000
12  RT @Harlequins: 🎥 Live Rugby!\n\n🎞 Watch our U...  ...  0.128788
13        Please buy my book. https://t.co/oQ0Gu6L5N6  ...  0.000000
14  Now playing Wake Me Up Before You Go-Go (12 In...  ...  0.000000
15  RT @ViktorsPaws: Oh EZRA just look at you 😂😍❤️...  ...  0.283333
16  RT @TheShibLord1: playing #KLEERUN can earn yo...  ...  0.000000
17  Let's play PUBG: NEW STATE together! \nGoogle ...  ...  0.170455
18  @Princenamz @Tatertots0 "I'm still the Nicola ...  ...  0.000000
19  RT @allyATL: Mass adoption is essential for cr...  ...  0.000000

[20 rows x 4 columns]

In [52]:
#Create a function to get the sentiment text
def getSentiment(score):
  if score <0:
    return 'Negative'
  elif score == 0:
      return 'Neutral'
  else:
      return 'Positive'

In [53]:
#Create column to store the text sentiment
df['Sentiment'] = df['Polarity'].apply(getSentiment)
#Show the data
df.head(7)

                                                text  ... Sentiment
0  Self awareness? Alright, Captain Tom, you’ve g...  ...   Neutral
1  RT @beatsbylonza: El HJEFE Podcast Episode 2. ...  ...   Neutral
2  ICYMI. Looks like it was a nice day for our to...  ...  Positive
3  Livestream links for tonight's girls and boys ...  ...   Neutral
4  RT @Rigid3d: Some more renders. \n\nhttps://t....  ...  Positive
5  @AdAltum @thetimes Amazon is incorporated in m...  ...  Positive
6  RT @NatapanuN: Thailand Pass will be closed fo...  ...  Positive

[7 rows x 5 columns]

In [54]:
df.drop(columns = 'text')

                                          Cleaned_Tweets  ...  Sentiment
0      Self awareness? Alright, Captain Tom, you’ve g...  ...    Neutral
1       ,: El HJEFE Podcast Episode 2.   Spotify, App...  ...    Neutral
2      ICYMI. Looks like it was a nice day for our to...  ...   Positive
3      Livestream links for tonight's girls and boys ...  ...    Neutral
4                                ,: Some more renders.    ...   Positive
...                                                  ...  ...        ...
9996    ,: Great gift for 24 hours from now ✅😉📌 Buy $...  ...   Positive
9997   The November market report is here!Send me a D...  ...    Neutral
9998    ,: Big Tech has to be stopped to protect our ...  ...    Neutral
9999                                 Facebook         …   ...    Neutral
10000  GE Drip Coffee Maker With Timer | 12-Cup Glass...  ...    Neutral

[10001 rows x 4 columns]

In [55]:
#drop columns to make it easier to read
df.head()

                                                text  ... Sentiment
0  Self awareness? Alright, Captain Tom, you’ve g...  ...   Neutral
1  RT @beatsbylonza: El HJEFE Podcast Episode 2. ...  ...   Neutral
2  ICYMI. Looks like it was a nice day for our to...  ...  Positive
3  Livestream links for tonight's girls and boys ...  ...   Neutral
4  RT @Rigid3d: Some more renders. \n\nhttps://t....  ...  Positive

[5 rows x 5 columns]

In [56]:
df.tail()

                                                    text  ... Sentiment
9996   RT @FaceMetaaverse: Great gift for 24 hours fr...  ...  Positive
9997   The November market report is here!\n\nSend me...  ...   Neutral
9998   RT @RepKenBuck: Big Tech has to be stopped to ...  ...   Neutral
9999   #linkedin #twitter #facebook #gifting #instagr...  ...   Neutral
10000  GE Drip Coffee Maker With Timer | 12-Cup Glass...  ...   Neutral

[5 rows x 5 columns]

In [57]:
#export the dataframe to sheets
#export to google sheets part one authentication
!pip install gspread
from google.colab import auth as au
au.authenticate_user()

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2021.10.8)

In [75]:
!pip install df2gspread

Requirement already satisfied: df2gspread in /usr/local/lib/python3.7/dist-packages (1.0.4)
Requirement already satisfied: google-api-python-client==1.6.7 in /usr/local/lib/python3.7/dist-packages (from df2gspread) (1.6.7)
Requirement already satisfied: gspread>=2.1.1 in /usr/local/lib/python3.7/dist-packages (from df2gspread) (3.0.1)
Requirement already satisfied: oauth2client<5.0.0dev,>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from df2gspread) (4.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from df2gspread) (1.1.5)
Collecting argparse>=1.3.0
  Using cached argparse-1.4.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client==1.6.7->df2gspread) (1.15.0)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client==1.6.7->df2gspread) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client==1.6.7->df2gspread) (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from gspread>=2.1.1->df2gspread) (2.23.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (4.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->df2gspread) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->df2gspread) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->df2gspread) (1.19.5)
Installing collected packages: argparse
Successfully installed argparse-1.4.0

In [59]:
import gspread
from oauth2client.client import GoogleCredentials

In [60]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [66]:
from gspread.models import Worksheet
#export to google sheets part two export
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [78]:
from df2gspread import df2gspread as d2g

In [83]:
spreadsheet_key = '1uO1co8iCP6JZDg84WllMROpvI2O0yLMFfBeK7jMMisQ'
wks_name = 'Master'
d2g.upload(df, spreadsheet_key, wks_name, credentials= GoogleCredentials.get_application_default(), row_names=True)